# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS-specific files
.DS_Store
Thumbs.db

# Log or temp files
*.log
*.tmp

# VSCode / PyCharm settings (optional)
.vscode/
.idea/
